# Visual Studio Code files
.vscode/

# Compile commands
compile_commands.json

# Builds
debug/
release/

# KDevelop project files
*.kdev4
.kdev4/

# Kate project
*.kateproject

# Clangd cache
.cache/
